<% if (action.actionType === 'Edit') { %>
<div id="modal-edit-overlay" class="DialogOverlay">
	<dialog data-edit-modal class="DialogModalMain" style="height: 310px">
		<div class="DialogModalMainInner">
			<h3 class="card-title"><%= dictionary.common.editALink %></h3>
			<button data-edit-close-modal onclick="closeEditModal()" class="DialogCloseButton" style="outline: inherit">X</button>
		</div>
		<div class="DialogContentContainer" style="height: 100px">
			<p style="margin-bottom: 8px">
				<%= dictionary.common.shrunkLinkFor %><a id="longUrl-link" target="_blank" href="<%= urls[id] %>"></a>
			</p>
			<p class="card-text"><%= dictionary.common.shrunkURL %> <a id="shortUrl-link" target="_blank" href="<%= urls[id] %>"></a></p>
		</div>
		<div class="DialogButtonContainer">
			<form id="edit-form" method="POST">
				<label for="longURL"><%= dictionary.common.newLink %></label>
				<input name="longURL" id="longURL" placeholder="http://" class="form-control" autocomplete="off" />
				<button type="submit" class="btn btn-info btn-block" style="margin-bottom: 2px; margin-top: 10px">
					<%= dictionary.common.submit %>
				</button>
			</form>
		</div>
	</dialog>
</div>
<% } else { %>
<div id="modal-delete-overlay" class="DialogOverlay">
	<dialog data-delete-modal class="DialogModalMain" style="height: 180px">
		<div class="DialogModalMainInner">
			<h3 class="card-title"><%= dictionary.common.deleteALink %></h3>
			<button data-delete-close-modal onclick="closeDeleteModal()" class="DialogCloseButton" style="outline: inherit">X</button>
		</div>
		<div class="DialogContentContainer" style="height: 40px">
			<p class="card-text"><%= dictionary.common.confirmDelete %></p>
		</div>
		<div class="DialogButtonContainer">
			<form id="delete-form" method="POST">
				<button type="submit" class="btn btn-info btn-block" style="margin-bottom: 2px"><%= dictionary.common.delete %></button>
			</form>
		</div>
	</dialog>
</div>
<% } %>
<script>
	let closeButton;
	let modal;

	const openModal = (id, url, action, actionType) => {
		if (actionType == "Edit") {
			closeButton = document.querySelector("[data-edit-close-modal]");
			modal = document.querySelector("[data-edit-modal]");
			document.getElementById("modal-edit-overlay").style.display = "block";
			document.getElementById("modal-edit-overlay").style.zIndex = "10";
			modal.querySelector("#longUrl-link").innerHTML = url;
			modal.querySelector("#shortUrl-link").innerHTML = id;
			modal.querySelector("#edit-form").action = action;
		} else {
			closeButton = document.querySelector("[data-delete-close-modal]");
			modal = document.querySelector("[data-delete-modal]");
			document.getElementById("modal-delete-overlay").style.display = "block";
			document.getElementById("modal-delete-overlay").style.zIndex = "10";
			modal.querySelector("#delete-form").action = action;
		}
		modal.show(id, url, action, actionType);
	};

	const closeEditModal = () => {
		document.getElementById("modal-edit-overlay").style.display = "none";
		document.getElementById("modal-edit-overlay").style.zIndex = "-100";
		modal.close();
	};

	const closeDeleteModal = () => {
		document.getElementById("modal-delete-overlay").style.display = "none";
		document.getElementById("modal-delete-overlay").style.zIndex = "-100";
		modal.close();
	};
</script>
