<% if (action.actionType === 'Edit') { %>
<div id="modal-edit-overlay" class="DialogOverlay">
	<dialog data-edit-modal class="DialogModalMain" style="height: 310px">
		<div class="DialogModalMainInner">
			<h3 class="card-title"><%= dictionary.common.editALink %></h3>
			<button data-edit-close-modal onclick="closeModal(`<%= action.actionType %>`)" class="DialogCloseButton" style="outline: inherit">
				X
			</button>
		</div>
		<div class="DialogContentContainer">
			<p style="margin-bottom: 8px">
				<%= dictionary.common.shrunkLinkFor %><a
					id="longUrl-link"
					target="_blank"
					href="<%= urls[id] %>"
					style="max-width: 328px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; display: block"
				></a>
			</p>
			<p class="card-text"><%= dictionary.common.shrunkURL %> <a id="shortUrl-link" target="_blank" href="<%= urls[id] %>"></a></p>
		</div>
		<div class="DialogButtonContainer">
			<form id="edit-form" method="POST">
				<label for="longURL"><%= dictionary.common.newLink %></label>
				<input name="longURL" id="longURL" placeholder="http://" class="form-control" autocomplete="off" />
				<button type="submit" class="btn btn-info btn-block" style="margin-bottom: 2px; margin-top: 10px">
					<%= dictionary.common.submit %>
				</button>
			</form>
		</div>
	</dialog>
</div>
<% } else if (action.actionType === 'Delete'){ %>
<div id="modal-delete-overlay" class="DialogOverlay">
	<dialog data-delete-modal class="DialogModalMain" style="height: 180px">
		<div class="DialogModalMainInner">
			<h3 class="card-title"><%= dictionary.common.deleteALink %></h3>
			<button data-delete-close-modal onclick="closeModal(`<%= action.actionType %>`)" class="DialogCloseButton" style="outline: inherit">
				X
			</button>
		</div>
		<div class="DialogContentContainer" style="height: 40px">
			<p class="card-text"><%= dictionary.common.confirmDelete %></p>
		</div>
		<div class="DialogButtonContainer">
			<form id="delete-form" method="POST">
				<button type="submit" class="btn btn-info btn-block" style="margin-bottom: 2px"><%= dictionary.common.delete %></button>
			</form>
		</div>
	</dialog>
</div>
<% } else if (action.actionType === 'Logout'){ %>
<div id="modal-logout-overlay" class="DialogOverlay">
	<dialog data-logout-modal class="DialogModalMain" style="height: 200px">
		<div class="DialogModalMainInner">
			<h3 class="card-title"><%= dictionary.common.logout %></h3>
			<button data-logout-close-modal onclick="closeModal(`<%= action.actionType %>`)" class="DialogCloseButton" style="outline: inherit">
				X
			</button>
		</div>
		<div class="DialogContentContainer" style="height: 44px; text-align: center">
			<p style="margin-bottom: 8px"><%= dictionary.common.logoutSubtitle %></p>
		</div>
		<div class="DialogButtonContainer">
			<form method="POST" action="/logout">
				<button type="submit" class="btn btn-info btn-block" style="margin-bottom: 2px; margin-top: 10px">
					<%= dictionary.common.logout %>
				</button>
			</form>
		</div>
	</dialog>
</div>
<% } else if (action.actionType === 'Profile'){ %>
<div id="modal-profile-overlay" class="DialogOverlay">
	<dialog data-profile-modal class="DialogModalMain" style="height: 340px">
		<div class="DialogModalMainInner">
			<h3 class="card-title"><%= dictionary.common.profile %></h3>
			<button data-profile-close-modal onclick="closeModal(`<%= action.actionType %>`)" class="DialogCloseButton" style="outline: inherit">
				X
			</button>
		</div>
		<div style="display: flex; justify-content: center; margin-bottom: 10px">
			<% if ( user.avatar ) { %>
			<div id="ProfileAvatarContainer" style="background-image: url(<%= user.avatar %>)">
				<form action="/user/ <%= user.id %>" method="POST" enctype="multipart/form-data">
					<button
						id="removeAvatar"
						class="ProfileAvatarEditContainer"
						onclick="removeAvatar()"
						type="submit"
						style="background-image: url(/assets/default_trashcan.png)"
					></button>
				</form>
			</div>
			<% } else { %>
			<div id="ProfileAvatarContainer">
				<form id="editAvatarForm" enctype="multipart/form-data">
					<button
						id="editAvatar"
						class="ProfileAvatarEditContainer"
						onclick="addAvatar()"
						type="button"
						style="background-image: url(/assets/default_pencil.png)"
					></button>
					<input type="file" id="getAvatar" style="display: none" accept="image/*" />
				</form>
			</div>
			<% } %>
		</div>
		<div class="DialogContentContainer" style="height: 84px; text-align: center">
			<p style="margin-bottom: 8px"><%= user.username %></p>
			<p><%= user.email %></p>
		</div>
		<div class="DialogButtonContainer">
			<button
				type="button"
				class="btn btn-info btn-block"
				style="margin-bottom: 2px; margin-top: 10px"
				onclick="closeModal(`<%= action.actionType %>`)"
			>
				<%= dictionary.common.close %>
			</button>
		</div>
	</dialog>
</div>
<% } %>
<script>
	const addAvatar = () => {
		let form = document.getElementById("editAvatarForm");
		let button = document.getElementById("editAvatar");
		let input = document.getElementById("getAvatar");

		const url = "/user/<%= user.id %>";

		button.onclick = () => {
			input.click();
		};

		input.addEventListener("change", (event) => {
			event.preventDefault(), postAvatar(event);
		});

		const postAvatar = async (event) => {
			const myFiles = input.files[0];
			const formData = new FormData();
			const reader = new FileReader();

			reader.readAsDataURL(myFiles);

			reader.onload = function (e) {
				if (reader.result) {
					const data = reader.result;
					formData.append("avatar", data);
					formData.append("action", "setAvatar");
					fetch(url, {
						method: "POST",
						body: formData,
					});
				}
			};

			const json = await response.json();
		};
	};
</script>

<script>
	const removeAvatar = () => {
		const url = "/user/<%= user.id %>";

		fetch(url, {
			method: "POST",
		});
	};
</script>

<script>
	let closeButton;
	let modal;

	const openModal = (actionType, user, id, url, action) => {
		const type = actionType.toLowerCase();
		closeButton = document.querySelector(`[data-${type}-close-modal]`);
		modal = document.querySelector(`[data-${type}-modal]`);
		document.getElementById(`modal-${type}-overlay`).style.display = "block";
		document.getElementById(`modal-${type}-overlay`).style.zIndex = "10";

		if (actionType == "Edit") {
			modal.querySelector("#longUrl-link").innerHTML = url;
			modal.querySelector("#shortUrl-link").innerHTML = id;
			modal.querySelector(`#${type}-form`).action = action;
		} else if (actionType == "Delete") {
			modal.querySelector(`#${type}-form`).action = action;
		}
		modal.show(id, url, action, actionType);
	};

	const closeModal = (actionType) => {
		const type = actionType.toLowerCase();
		document.getElementById(`modal-${type}-overlay`).style.display = "none";
		document.getElementById(`modal-${type}-overlay`).style.zIndex = "-100";
		modal.close();
	};
</script>
