<header>
	<div id="MainHeaderContainer">
		<% if (user) { %>
		<div id="ShrinkALinkHeaderTextContainer">
			<a class="navbar-brand" href="/urls" id="HeaderText"><%= dictionary.common.shrinkALink %></a>
		</div>
		<% } else { %>
		<div id="ShrinkALinkHeaderTextContainer">
			<a class="navbar-brand" id="HeaderText"><%= dictionary.common.shrinkALink %></a>
		</div>
		<% } %> <% if (user) { %>
		<div id="MainHeaderUserTextContainer" class="navbar-nav">
			<span id="MainHeaderUserText"><%= dictionary.common.welcome %> <%= user.username %> !</span>
		</div>
		<% } else { %>
		<div id="MainHeaderNoUserContainer">
			<div id="MainHeaderNoUserTextContainer">
				<span id="HeaderText"><%= dictionary.common.notAMember %></span>
			</div>
			<form method="GET" action="/register">
				<div class="input-group" style="margin-right: 10px">
					<button type="submit" class="btn btn-outline-light"><%= dictionary.common.register %></button>
				</div>
			</form>
			<form method="GET" action="/login">
				<div class="input-group">
					<button type="submit" class="btn btn-outline-light"><%= dictionary.common.login %></button>
				</div>
			</form>
		</div>
		<% } %>
	</div>
</header>
<% if (user) { %>
<div id="MainHeaderLogoutContainer">
	<form method="POST" action="/logout">
		<button type="submit" class="btn btn-dark btn-sm"><%= dictionary.common.logout %></button>
	</form>
</div>
<% } %>
