<header>
	<div style="display: flex; justify-content: space-between; max-height: 58px; background-color: #17a2b8; padding: 8px 14px">
		<% if (user) { %>
		<div style="min-width: 300px; margin-right: 0px; display: flex; justify-content: space-between">
			<a class="navbar-brand" href="/urls" style="color: white"><%= dictionary.common.shrinkALink %></a>
		</div>
		<% } else { %>
		<a class="navbar-brand" style="color: white"><%= dictionary.common.shrinkALink %></a>
		<% } %> <% if (user) { %>
		<div id="right-nav" class="navbar-nav" style="min-width: 200px; white-space: nowrap; overflow: hidden; text-align: end">
			<span style="color: white; padding-top: 8px"><%= dictionary.common.welcome %> <%= user.username %> !</span>
		</div>
		<% } else { %>
		<div id="right-nav" style="min-width: 200px; display: flex; justify-content: space-between">
			<div style="margin-right: 10px; padding-top: 7px">
				<span style="color: white"><%= dictionary.common.notAMember %></span>
			</div>
			<form method="GET" action="/register">
				<div class="input-group" style="margin-right: 10px">
					<button type="submit" class="btn btn-outline-light"><%= dictionary.common.register %></button>
				</div>
			</form>
			<form method="GET" action="/login">
				<div class="input-group">
					<button type="submit" class="btn btn-outline-light"><%= dictionary.common.login %></button>
				</div>
			</form>
		</div>
		<% } %>
	</div>
</header>
<% if (user) { %>
<div
	style="
		position: absolute;
		right: 0px;
		top: 56px;
		width: 90px;
		height: 40px;
		background-color: #17a2b8;
		text-align: end;
		border-bottom-left-radius: 10px;
		padding-right: 14px;
	"
>
	<form method="POST" action="/logout">
		<button type="submit" class="btn btn-dark btn-sm"><%= dictionary.common.logout %></button>
	</form>
</div>
<% } %>
