<header>
	<nav class="navbar navbar-expand-md navbar-dark bg-info" style="display: flex; justify-content: space-between; max-height: 58px">
		<% if (user) { %>
		<a class="navbar-brand" href="/urls"><%= dictionary.common.shrinkALink %></a>
		<% } else { %>
		<a class="navbar-brand" style="color: white"><%= dictionary.common.shrinkALink %></a>
		<% } %>
		<!-- <% if (user) { %>
		<div id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link" href="/urls"><%= dictionary.navLinks.urls %></a>
				<a class="nav-item nav-link" href="/urls/new"><%= dictionary.navLinks.urlsNew %></a>
			</div>
		</div>
		<% } %>  -->
		<% if (user) { %>
		<div id="right-nav" class="navbar-nav" style="min-width: 171px; white-space: nowrap; overflow: hidden">
			<form method="POST" action="/logout">
				<span style="color: white"><%= dictionary.common.welcome %> <%= user.username %> !</span>
				<button type="submit" class="btn btn-dark" style="margin-left: 10px" label=""><%= dictionary.common.logout %></button>
			</form>
		</div>
		<% } else { %>
		<div id="right-nav" class="navbar-nav" style="min-width: 171px; white-space: nowrap">
			<div style="margin-right: 10px; padding-top: 7px">
				<span><%= dictionary.notAMember %></span>
			</div>
			<form method="GET" action="/register">
				<div class="input-group" style="margin-right: 10px">
					<button type="submit" class="btn btn-outline-light"><%= dictionary.common.register %></button>
				</div>
			</form>
			<form method="GET" action="/login">
				<div class="input-group">
					<button type="submit" class="btn btn-outline-light"><%= dictionary.common.login %></button>
				</div>
			</form>
		</div>
		<% } %>
	</nav>
</header>
