<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<link rel="stylesheet" href="styles.css" type="text/css" />
		<!-- Bootstrap CSS -->
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
			integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
			crossorigin="anonymous"
		/>
		<title><%= dictionary.common.shrinkALink %></title>
	</head>
	<body>
		<%- include('partials/_header') %>
		<main style="margin: 1em 0 1em 0">
			<h3 id="LinkTableHeader"><%= dictionary.common.yourLinks %></h3>
			<% if (Object.keys(urls).length > 0) { %>
			<table class="table table-striped" style="table-layout: fixed">
				<thead>
					<tr>
						<th scope="col" style="width: 140px"><%= dictionary.common.shortURL %></th>
						<th scope="col" style="width: 60%"><%= dictionary.common.longURL %></th>
						<th scope="col" style="width: 160px"></th>
					</tr>
				</thead>
				<tbody>
					<% for (let id in urls) { %>
					<tr>
						<td id="LinkTableShrunkLink">
							<a target="_blank" href="<%= urls[id] %>"><%= id %></a>
						</td>
						<td id="LinkTableLongLink">
							<a style="width: 300px" target="_blank" href="<%= urls[id] %>"><%= urls[id] %></a>
						</td>
						<td>
							<% actionTypes.forEach((action) => { %> <% if ( action.actionType === 'Edit') { %>
							<input
								type="button"
								class="<%= action.class %>"
								onclick="openModal(`<%= id %>`, `<%= urls[id] %>`, `/urls/<%= id %>`, `<%= action.actionType %>`)"
								value="<%= action.label %>"
							/>
							<% } else { %>
							<input
								type="button"
								class="<%= action.class %>"
								onclick="openModal(`<%= id %>`, `<%= urls[id] %>`, `/urls/<%= id %>/delete`, `<%= action.actionType %>`)"
								value="<%= action.label %>"
							/>
							<% }%> <%- include('partials/_dialog', {id: id, url: urls[id], dictionary, action}) %> <% }) %>
						</td>
					</tr>
					<% } %>
				</tbody>
			</table>
			<% } else { %>
			<div id="EmptyLinkTextContainer">
				<div id="EmptyLinkText">
					<p><%= dictionary.common.noURLS %></p>
				</div>
			</div>
			<% } %>
			<div id="CreateLinkFooterContainer">
				<div>
					<div id="CreateLinkFooterHeader">
						<p style="margin: 0px"><%= dictionary.common.createALink %></p>
					</div>
					<div id="CreateLinkFooterFormContainer">
						<form action="/urls" method="POST">
							<div class="input-group mb-3">
								<input
									class="form-control"
									type="text"
									name="longURL"
									id="longURL"
									placeholder="http://"
									autocomplete="off"
									style="border: none"
								/>
								<div class="input-group-append">
									<button type="submit" class="btn btn-info"><%= dictionary.common.create %></button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</main>
		<!-- Bootstrap JS -->
		<script
			src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
			crossorigin="anonymous"
		></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
			crossorigin="anonymous"
		></script>
	</body>
</html>
